!!!
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    #header 
      a(href="/") Home
      a(href="/logout") Logout
    block content
    #footer